HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
# .idea directory: Only keep project config, code styles, and other relevant files.
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/*.iml
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/runConfigurations/

# Ignore user-specific or workspace files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/httpRequests
.idea/dataSources/
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/usage.statistics.xml
.idea/sonarlint/
.idea/shelf/
.idea/.name

# Typical JetBrains IDE file ignores
*.iws
*.ipr
*.idea/

# Node: If your project is a multi-module or you use other JetBrains products, adjust as needed.

out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
# Local environment
.env

